/* reusaable global variables */
:root {
    --bg: #f4f2ec;
    --white: #ffffff;
    --cardWhite: #f4f2ec;
    --dark: #262626;
    --green: #00613b;
    --orange: #e06b15;
    --yellow: #f3a01a;
    --blue: #007a97;
    --blue1: #3098d2;
    --secondaryOrange: #fc8833;
    --secondaryGreen1: #abdf98;
    --secondaryGreen2: #aade99;
    --secondaryGreen3: #97db80;
    --poppins: "Poppins", sans-serif;
    --roboto: "Roboto", sans-serif;
    --quicksand: "Quicksand", sans-serif;


}

/* global styles */
*,
*:not(i)::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-optical-sizing: auto;
}

body {
    font-family: var(--quicksand);
    background-color: var(--bg, #f4f2ec);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--poppins);
}

a,
p,
span {
    color: var(--dark);
    /* font-weight: 300; popins*/
    font-family: var(--quicksand);
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
span {
    display: inline-block;
}

ul {
    list-style: none;
}

/* global styling for all btn-group */
.button-group {
    display: flex;
    justify-content: center;
    column-gap: 1.3em;
    justify-self: center;
    align-items: center;
}

.button-group .button {
    background-color: var(--secondaryGreen1);
    display: flex;
    align-items: center;
    column-gap: .5em;
    min-height: 47px;
    padding: .55em 1.3em .55em 1.3em;
    border-radius: 35px;
}

.button-group i[class*="fa-apple"] {
    font-size: 1.8em;
    color: rebeccapurple;
}

.button-group i[class*="fa-google-play"] {
    font-size: 1.5em;
    color: blanchedalmond;
}

.button-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.button-text>span {
    font-size: .5em;
}

.button-text>p {
    font-size: .8em;
    margin-top: -3px;
    font-weight: 600;
}


/* nav style */
#nav-bar,
.logo-area,
.nav-links,
.button-area {
    display: flex;
    align-items: center;
}

#nav-bar {
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 1.3em;
}

.logo-area {
    column-gap: .4em;
}

.logo-area i {
    font-size: 27px;
    color: var(--green, #00613b);
}

.logo-area h2 {
    font-weight: 500;
}

.nav-links {
    column-gap: 1.5em;
}

.nav-links a {
    /* font-family: var(--quicksand);
    font-weight: 500; */
}

.button-area a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .65em 1.2em;
    font-size: .8em;
    font-weight: 500;
    border-radius: 35px;
    color: var(--white);
    background-color: var(--orange, #e06b15);
}



/* header style */
header {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding: 3.5em 0 17em 0;
    /* background-color: #3098d2; */
}

header>* {
    max-width: 614.7px;
    width: 75%;
    margin: auto;
    text-align: center;
    /* background-color: #007a97; */
}

header h1 {
    font-size: calc(1.5em + 2.02vw);
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 1.05;
}

header>p {
    font-size: calc(1em + .25vw);
    font-weight: 500;
    letter-spacing: -1px;
}

header .button-group .button {
    background-color: var(--secondaryGreen1);

}

header .button-group i[class*="fa-apple"] {
    color: var(--green, #00613b);
}

header .button-group i[class*="fa-google-play"] {
    color: var(--green, #00613b);
}



/* -> info-section style */

.info-section {
    background-color: var(--green, #00613b);
    border-radius: 1.7em;
    min-height: 70vh;
    width: 90%;
    margin: auto;
    color: var(--white, #ffffff);
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    padding: 4em;
    column-gap: 3em;
}

.info-section * {
    color: inherit;
}

.info-item-1 {
    align-self: center;
    font-family: var(--roboto);
    font-size: calc(1.3em + 1.5vw);
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 1.05;
}



/* Fix-Section-2 styles */

.fix-section-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4em;
    border-radius: 1.7em;
    min-height: 70vh;
    width: 90%;
    margin: auto;
    background-color: #fff;
}


.fix-section-2 .button-group .button {
    background-color: var(--orange);

}

.fix-section-2>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    height: 85%;
    row-gap: 1.4em;
}

.fix-section-2> :nth-child(2) h1 {
    align-self: center;
    font-family: var(--roboto);
    font-size: calc(1.3em + 1.5vw);
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 1.05;
}

.fix-section-2> :nth-child(2) p {
    font-size: calc(.8em + .05vw);
    font-weight: 400;
    line-height: 1.5;
}

.fix-section-2 .button-group span,
.fix-section-2 .button-group p,
.fix-section-2 .button-group i {
    color: var(--white, #ffffff) !important;
}


/* phone display global */
.phone-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0%, -28%);
}

.phone-section>* {
    width: 370px;
    margin: auto;
}

.phone {
    background-color: #3098d2;
    overflow: hidden;
    border-radius: 59px;
    margin: auto;
}

.phone-display {}


/* step card phone global */