/* reusaable global variables */
:root {
    --bg: #f4f2ec;
    --white: #ffffff;
    --cardWhite: #f4f2ec;
    --dark: #262626;
    --green: #00613b;
    --orange: #e06b15;
    --yellow: #f3a01a;
    --blue: #007a97;
    --blue1: #3098d2;
    --secondaryOrange: #fc8833;
    --secondaryGreen1: #abdf98;
    --secondaryGreen2: #aade99;
    --secondaryGreen3: #97db80;
    --poppins: "Poppins", sans-serif;
    --roboto: "Roboto", sans-serif;
    --quicksand: "Quicksand", sans-serif;


}

/* ------------- GLOBAL STYLE ------------- */

*,
*:not(i)::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-optical-sizing: auto;
}

body {
    font-family: var(--quicksand);
    background-color: var(--bg, #f4f2ec);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--poppins);
}

a,
p,
span {
    color: var(--dark);
    /* font-weight: 300; popins*/
    font-family: var(--quicksand);
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
span {
    display: inline-block;
}

ul {
    list-style: none;
}

/* ------------- END OF GLOBAL STYLE ------------- */


/* ------------- GLOBAL BUTTON GROUP ------------- */
.button-group {
    display: flex;
    justify-content: center;
    column-gap: 1.3em;
    justify-self: center;
    align-items: center;
}

.button-group .button {
    /* remove when done */
    background-color: var(--secondaryGreen1);
    display: flex;
    align-items: center;
    column-gap: .5em;
    min-height: 47px;
    padding: .55em 1.3em .55em 1.3em;
    border-radius: 35px;
}

.button-group i[class*="fa-apple"] {
    font-size: 1.8em;
    /* color: rebeccapurple;  remove when done */
}

.button-group i[class*="fa-google-play"] {
    font-size: 1.5em;
    /* color: blanchedalmond;   remove when done */
}

.button-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.button-text>span {
    font-size: .5em;
}

.button-text>p {
    font-size: .8em;
    margin-top: -3px;
    font-weight: 600;
}

/* ------------- END OF GLOBAL BUTTON GROUP ------------- */

/* ------------------  NAV -----------------*/
#nav-bar,
.logo-area,
.nav-links,
.button-area {
    display: flex;
    align-items: center;
}

#nav-bar {
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 1.3em;
    z-index: 999;
    animation: navDown .45s ease-in-out .2s backwards;
}

/* #navb-bar * {
    z-index: 999;
} */

.logo-area {
    column-gap: .4em;
}

.logo-area i {
    font-size: 27px;
    color: var(--green, #00613b);
}

.logo-area h2 {
    font-weight: 500;
}

.nav-links {
    column-gap: 1.5em;
}

.nav-links a {
    /* font-family: var(--quicksand);
    font-weight: 500; */
}

.button-area a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .65em 1.2em;
    font-size: .8em;
    font-weight: 500;
    border-radius: 35px;
    color: var(--white);
    background-color: var(--orange, #e06b15);
}

@keyframes navDown {
    0% {
        transform: translateY(-2em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

/* ------------------ END OF NAV -----------------*/



/* ------------------ HEADER -----------------*/

header {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding: 3.5em 0 7em 0;
    /* background-color: #3098d2; */
    animation: headAnimate .8s ease-in-out .2s backwards;

}

@keyframes headAnimate {
    0% {
        transform: translateY(5em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

header>* {
    max-width: 614.7px;
    width: 75%;
    margin: auto;
    text-align: center;
    /* background-color: #007a97; */
}

header h1 {
    font-size: calc(1.5em + 2.02vw);
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 1.05;
}

header>p {
    font-size: calc(1em + .25vw);
    font-weight: 500;
    letter-spacing: -1px;
}


header .button-group .button {
    animation: headButton 1s ease-in-out .2s forwards;
    background-color: var(--secondaryGreen1);


}

@keyframes headButton {
    0% {
        transform: scale(.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}

header .button-group i[class*="fa-apple"] {
    color: var(--green, #00613b);
}

header .button-group i[class*="fa-google-play"] {
    color: var(--green, #00613b);
}

/* ------------------ END OF HEADER -----------------*/


/* ------------------GLOBAL PHONE OVERFLOW -----------------*/
.info-section,
.fix-section-2 {
    width: 93.5%;
    margin: auto;
}

.phone-section {
    position: relative;
    display: flex;
    justify-content: center;
}

.info-section,
.fix-section-2,
.phone-base-section {
    display: grid;
}

.info-section ul.phone-parts,
.fix-section-2 ul.phone-parts,
.phone-display,
.phone-button-group {
    display: flex;
}

.info-section .phone-parts img,
.fix-section-2 .phone-parts img {
    /* width: 40px;
    height: 40px; */
    object-fit: contain;
}

/* PHONE Image  */
img.phone {
    /* width: 370px;
    object-fit: cover; */
    border-radius: calc(3em + 1vw);
    height: 100%;
    display: block;
    margin: auto;

}


.phone-base-section {
    border-radius: 1.75em;
    padding: 4.5em;
    overflow: hidden;

}

/* ----------------- END OF GLOBAL PHONE OVERFLOW ------------*/


/*---------------------- INFO SECTION -------------------- */

.info-section {
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 15.87em 500px 4.5em;
    /* border: 1px solid orange; */
    column-gap: 1.5em;
    color: var(--white, #ffffff);
}

.info-section * {
    color: inherit;
}

.info-section .phone-section {
    z-index: 1;
    /* border: 1px solid salmon; */
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.info-section .phone {
    z-index: 1;
    background-image: linear-gradient(to top, var(--green) 66%, var(--secondaryGreen3) 66%);
    animation: phoneAnimate1 .9s ease-in-out .05s forwards;
}

@keyframes phoneAnimate1 {
    0% {
        transform: translateY(17em);
    }

    100% {
        transform: translateY(0);
    }
}

.phone-display {
    z-index: 2;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    height: 100%;
    max-width: 240px;
    row-gap: 2em;
    width: 90%;
    animation: phoneAnimate1 .9s ease-in-out .05s forwards;
    /* border: 1px solid gold; */
}

.info-section .phone-parts {
    position: absolute;
    top: 0;
    height: 100%;
    width: 10%;
    /* border: 1px solid gold; */
    /* animation: phonePartAnimate1 1.4s ease-in-out .05s forwards; */
}

/* @keyframes phonePartAnimate1 {
    0% {
        transform: translateY(17em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
} */

.info-section .phone-parts li {
    position: absolute;
    transform-origin: center;
}


/* PHONE PART IMAGE AND POSITION */
/* TODO - make images shrink base on screen size using calc  */
li.hammer {
    top: -3em;
    left: -20em;
    animation: hammerAnimate 1.1s ease-in-out .2s forwards, hammerLifeAnimate 2.8s ease-in-out 1.25s forwards infinite;
}

@keyframes hammerAnimate {
    0% {
        top: 0;
        left: -10em;
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        top: -3em;
        left: -20em;
        visibility: visible;
    }
}

@keyframes hammerLifeAnimate {
    0% {
        transform: scale(1);

    }

    50% {
        transform: scale(.95);
    }

    100% {
        transform: scale(1);
    }
}

li.hammer img {
    width: 300px;
    height: 300px;
    transform: rotate(-5deg);
}

li.roller {
    top: -4em;
    right: -23em;
    animation: rollerAnimate 1.1s ease-in-out .2s forwards, rollerLifeAnimate 2.8s ease-in-out 1.25s forwards infinite;


}

@keyframes rollerAnimate {
    0% {
        top: 0;
        right: -10em;
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        top: -4em;
        right: -23em;
        visibility: visible;
    }
}

@keyframes rollerLifeAnimate {
    0% {
        transform: scale(1);

    }

    50% {
        transform: scale(.95);
    }

    100% {
        transform: scale(1);
    }
}


li.roller img {
    width: 300px;
    height: 300px;
    transform: rotate(-1deg);
}

li.left-nail-1 {
    top: -4em;
    left: -21em;
    animation: leftNail_1Animate .85s ease-in-out .2s forwards, leftNail_1Life 4.2s ease-in-out 1.25s forwards infinite;

}

@keyframes leftNail_1Animate {
    0% {
        top: 0;
        left: -10em;
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        top: -4em;
        left: -21em;
        visibility: visible;
    }
}

@keyframes leftNail_1Life {
    0% {
        top: -5em;
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-180deg);
        top: -4em;
    }

    100% {
        top: -5em;
        /* transform: rotate(0deg); */
    }
}

li.left-nail-1 img {
    width: 80px;
    height: 80px;
    transform: rotate(65deg);
}

li.left-nail-2 {
    top: 4em;
    left: -20em;
    animation: leftNail_2Animate 1.1s ease-in-out .2s forwards, leftNail_2Life 3.2s ease-in-out 1.25s forwards infinite;

}

@keyframes leftNail_2Animate {
    0% {
        top: 0;
        left: -10em;
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        top: 4em;
        left: -20em;
        visibility: visible;
    }
}

@keyframes leftNail_2Life {
    0% {
        top: 5em;
    }

    50% {
        top: 4em;
    }

    100% {
        top: 5em;

    }
}


li.left-nail-2 img {
    width: 80px;
    height: 80px;
    transform: rotate(-45deg);

}

li.right-nail-1 {
    top: -4em;
    right: -20em;
    animation: rightNail_1Animate .85s ease-in-out .2s forwards, rightNail_1Life 3.2s ease-in-out 1.25s forwards infinite;

}

@keyframes rightNail_1Animate {
    0% {
        top: 0;
        right: -10em;
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        top: -4em;
        right: -20em;
        visibility: visible;
    }
}

@keyframes rightNail_1Life {
    0% {
        top: -6em;
    }

    50% {
        top: -4em;

    }

    100% {
        top: -6em;
    }

}

li.right-nail-1 img {
    width: 80px;
    height: 80px;
    transform: rotate(95deg);

}

li.right-nail-2 {
    top: -6.7em;
    right: -9em;
    animation: rightNail_2Animate 1.1s ease-in-out .2s forwards, rightNail_2Life 2.8s ease-in-out 1.25s forwards infinite;

}


@keyframes rightNail_2Animate {
    0% {
        top: 0;
        right: -10em;
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        top: -6.7em;
        right: -9em;
        visibility: visible;
    }
}

@keyframes rightNail_2Life {
    0% {
        top: -6.7em;
    }

    50% {
        top: -5em;

    }

    100% {
        top: -6.7em;
    }

}

li.right-nail-2 img {
    width: 80px;
    height: 80px;
    transform: rotate(15deg);

}

/* END OF PHONE PART IMAGE AND POSITION */


.phone-display .phone-item {
    flex-grow: 1;
    display: flex;
}

.phone-item:not(.phone-item-3) {
    display: flex;
    align-items: flex-end;
}

.phone-item-1 img {
    width: 30%;
    height: 30%;
    object-fit: contain;
    margin: 0 auto;
}

.phone-item-2 h3 {
    font-size: calc(1.35em + .05vw);
    font-weight: 400;
    line-height: 1.25;

}


.phone-display .phone-item-3 {
    flex-direction: column;
    justify-content: center;
    row-gap: 2em;
}

.phone-button-group {
    row-gap: .4em;
    flex-direction: column;
}

.phone-button-group :first-child {
    background-color: var(--white, #ffffff);
    color: var(--green, #00613b);
}

.phone-button-group :last-child {
    color: var(--white, #ffffff);
    background-color: var(--orange, #e06b15);
}

.phone-button {
    padding: .5em;
    border-radius: 1em;
}

.info-section .phone-base-section {
    background-color: var(--green, #00613b);
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-column: 1 / -1;
    grid-row-start: 2;
    grid-row-end: 5;
    /* animation: phoneBaseAnimate 1.5s ease-in-out .05s forwards; */

}

/* 
@keyframes phoneBaseAnimate {
    0% {}

    100% {}
} */

.info-section .base-item-1 {
    grid-column-start: 1;
    align-self: center;
    font-family: var(--roboto);
    font-size: calc(1.3em + 1.65vw);
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 1.05;
    animation: baseText1Animate .85s ease-in-out .05s forwards;
}

@keyframes baseText1Animate {
    0% {
        transform: translateY(3em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.info-section .base-item-2 {
    grid-column-start: 3;
    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 3em;
    animation: baseText2Animate .85s ease-in-out .05s forwards;
}

@keyframes baseText2Animate {
    0% {
        transform: translateY(2.3em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.info-section .base-item-2 li {
    display: flex;
    column-gap: 1.5em;
    align-items: flex-start;
}

.info-section .base-item-2 li i.icon {
    font-size: calc(.95em + .95vw);
    color: #80ad93;
    /* #a5de99 */
}

.info-section .base-item-2 li p {
    font-family: var(--roboto);
    font-size: calc(.8em + .95vw);
    /* letter-spacing: -2px; */
    line-height: 1.05;
    font-weight: 300;

}

/*----------------------END OF INFO SECTION -------------------- */

/*-------------------------- STEP SECTION ---------------------- */
.steps-section {
    display: flex;
    flex-direction: column;
    row-gap: 4.5em;
    padding: 6em 0;
}

img.tool-box {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 500px;
    height: 400px;
    aspect-ratio: 4/4;
    object-fit: contain;
}

.steps-section>h2 {
    width: 80%;
    max-width: 600px;
    margin: auto;
    font-size: calc(1.55em + 1vw);
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    animation: titleAnimate .8s ease-in-out 0.2s forwards;
}

@keyframes titleAnimate {
    0% {
        transform: translateY(3em);
        opacity: 0;
        line-height: 2;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        line-height: 1.25;
    }
}

.steps {
    display: grid;
    grid-template-columns: 600px 900px 900px 900px;
    column-gap: 2em;
    margin: 4.5em 0;
    min-height: 500px;
    /* border: 1px solid goldenrod; */
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
    scrollbar-color: transparent;
    scrollbar-width: none;
}

.steps>* {
    scroll-snap-align: center;
}

.steps::-webkit-scrollbar {
    width: 0;
    display: none;
    background-color: transparent;
}

.steps::-webkit-scrollbar-track {
    background-color: transparent;
}

.steps::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.step {
    display: grid;
    grid-template-columns: 80px 1.3fr 1fr;
    column-gap: 1em;
    border-radius: 1.8em;
    overflow: hidden;
    padding: 1.5em;
}

.step-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.intro {
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 1.45em;
    margin: auto;
    animation: stepIntroAnimate .8s ease-in-out 0.2s forwards;
}



@keyframes stepIntroAnimate {

    0% {
        transform: translateY(6em);
    }

    100% {
        transform: translateY(0);

    }
}


.step-intro i {
    font-size: calc(.95em + .95vw);
    color: #a5de99;
}

.step-intro h3 {
    font-family: var(--poppins);
    font-size: calc(1.2em + .25vw);
    /* letter-spacing: -2px; */
    line-height: 1.35;
    font-weight: 400;
    animation: stepIntroTextAnimate .8s ease-in-out 0.2s forwards;
}


@keyframes stepIntroTextAnimate {

    0% {
        opacity: .7;
        line-height: 1.85;

    }

    100% {
        opacity: 1;
        line-height: 1.35;


    }
}

.step-description {
    display: flex;
    row-gap: 1.5em;
    flex-direction: column;
    justify-content: center;
}

.step-description h3,
.step-description p {
    width: 80%;
    margin-right: auto;
}

.step-description h3 {
    font-family: var(--roboto);
    font-size: calc(1.2em + .95vw);
    /* letter-spacing: -2px; */
    line-height: 1.25;
    font-weight: 400;
}

.step-description p {
    font-family: var(--roboto);
    font-size: calc(.8em + .35vw);
    /* letter-spacing: -2px; */
    line-height: 1.45;
    font-weight: 300;
}

.step img {
    width: 300px;
    position: absolute;
    right: 5.5em;
    transform: translateY(4.5em);
    animation: stepImgAnimate .2s ease-in-out 0.2s forwards;
}

@keyframes stepImgAnimate {
    0% {
        right: 5em;

    }

    100% {
        right: 5.5em;

    }
}

.step-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--white, #ffffff);
}

.step-1 {
    background-color: var(--secondaryOrange, #fc8833);
}

.step-1 .step-number {
    color: var(--secondaryOrange, #fc8833);
}

.step-2 {
    background-color: var(--blue, #007a97);
}

.step-2 .step-number {
    color: var(--blue, #007a97);
}

.step-3 {
    background-color: var(--green, #00613b);
}

.step-3 .step-number {
    color: var(--green, #00613b);
}

.step-1 *,
.step-2 *,
.step-3 * {
    color: var(--white, #ffffff);
}


.step:not(.step-intro) {
    animation: stepsAnimate .65s ease-in-out 0.2s forwards;
}

@keyframes stepsAnimate {
    0% {
        transform: translateX(38em);

    }

    100% {
        transform: translateX(0);

    }
}

/*----------------------END OF STEP SECTION -------------------- */

/*----------------------------  FIX-SEC-1  --------------------------- */

.fix-sec-1 {
    background-color: var(--darK, #262626);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.fix-description {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 1.3em;
    margin-top: 7.5em;
    text-align: center;
    /* border: 1px solid salmon; */
    position: relative;
    animation: fixDescriptionAnimate 1.5s ease-in-out 0.2s forwards;

}

@keyframes fixDescriptionAnimate {
    0% {
        visibility: hidden;
    }

    40% {
        visibility: hidden;
    }

    60% {
        visibility: visible;
    }

    100% {
        visibility: visible;
    }
}


.fix-title,
.fix-details,
.fix-title span {
    font-family: var(--poppins);
    color: var(--white, #ffffff);
}

.fix-sec-1 .fix-title {
    font-size: calc(1.7em + .95vw);
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 400;
    animation: fixTitleAnimate .7s ease-in-out .7s forwards;

}

@keyframes fixTitleAnimate {
    0% {
        line-height: 1.5;
    }

    100% {
        line-height: 1;
    }
}


.fix-title span {
    font-size: calc(1.35rem + .95vw);
    letter-spacing: -1px;
    font-weight: 400;

}

.fix-sec-1 .fix-details {
    font-size: .85em;
    color: #f5f5f5d9;
    font-weight: 300;
    line-height: 1.65;
    animation: fixDetailsAnimate 1.5s ease-in-out 0.2s forwards;

}

@keyframes fixDetailsAnimate {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    40% {
        visibility: hidden;
    }

    60% {
        visibility: visible;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

.fix-images {
    position: absolute;
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;
}

.fix-images li {
    position: absolute;
    left: 50%;
    transform-origin: center;
}

.big img {
    border-radius: 15px;
    width: 120px;
    height: 140px;
    object-fit: cover;
}

.small img {
    border-radius: 10px;
    width: 80px;
    height: 90px;
    object-fit: cover;
}

.fix-images .big-1 {
    transform: translate(-9em, -8em);
    /* border: 1px solid purple; */
    animation: big_1Position 1.5s ease-in-out .2s forwards, big_1Life 2.2s ease-in-out infinite 1.6s forwards;
}

@keyframes big_1Position {
    0% {
        transform: translate(-9em, -8em);
    }

    100% {
        transform: translate(-27em, -14em);
    }
}

@keyframes big_1Life {
    0% {
        transform: translate(-27em, -14em);
    }

    50% {
        transform: translate(-27em, -13.3em);
    }

    100% {
        transform: translate(-27em, -14em);
    }
}

.fix-images .small-1 {
    transform: translate(-12em, 1.5em);
    /* border: 1px solid purple; */
    animation: small_1Position 1.5s ease-in-out .2s forwards, small_1Life 1.9s ease-in-out infinite 1.65s forwards;
}

@keyframes small_1Position {
    0% {
        transform: translate(-12em, 1.5em);
    }

    100% {
        transform: translate(-37em, -1.5em);
    }
}

@keyframes small_1Life {
    0% {
        transform: translate(-37em, -1.5em);
    }

    50% {
        transform: translate(-37em, -1em);
    }

    100% {
        transform: translate(-37em, -1.5em);
    }
}

.fix-images .big-2 {
    transform: translate(-6em, 1em);
    /* border: 1px solid red; */
    z-index: 1;
    animation: big_2Position 1.5s ease-in-out .2s forwards, big_2Life 2.1s ease-in-out infinite 1.65s forwards;

}

@keyframes big_2Position {
    0% {
        transform: translate(-6em, 1em);
    }

    100% {
        transform: translate(-32em, 8.5em);
    }
}

@keyframes big_2Life {
    0% {
        transform: translate(-32em, 8.5em);
    }

    50% {
        transform: translate(-32em, 8em);
    }

    100% {
        transform: translate(-32em, 8.5em);
    }
}

.fix-images .small-2 {
    transform: translate(-2.8em, 8.5em);
    /* border: 1px solid red; */
    animation: small_2Position 1.5s ease-in-out .2s forwards, small_2Life 2.1s ease-in-out infinite 1.65s forwards;

}

@keyframes small_2Position {
    0% {
        transform: translate(-2.8em, 8.5em);
    }

    100% {
        transform: translate(-2.8em, 17em);
    }
}

@keyframes small_2Life {
    0% {
        transform: translate(-2.8em, 17em);
    }

    50% {
        transform: translate(-2.8em, 16.7em);
    }

    100% {
        transform: translate(-2.8em, 17em);
    }
}

.fix-images .big-3 {
    transform: translate(5em, -6em);
    /* border: 1px solid orange; */
    animation: big_3Position 1.5s ease-in-out .2s forwards, big_3Life 2.1s ease-in-out infinite 1.65s forwards;

}

@keyframes big_3Position {
    0% {
        transform: translate(5em, -6em);
    }

    100% {
        transform: translate(28em, -6em);
    }
}

@keyframes big_3Life {
    0% {
        transform: translate(28em, -6em);
    }

    50% {
        transform: translate(28em, -5.5em);
    }

    100% {
        transform: translate(28em, -6em);
    }
}

.fix-images .small-3 {
    transform: translate(1.8em, -1.5em);
    /* border: 1px solid orange; */
    animation: small_3Position 1.5s ease-in-out .2s forwards, small_3Life 2.4s ease-in-out infinite 1.65s forwards;

}

@keyframes small_3Position {
    0% {
        transform: translate(1.8em, -1.5em);
    }

    100% {
        transform: translate(1.8em, -9.5em);
    }
}

@keyframes small_3Life {
    0% {
        transform: translate(1.8em, -9.5em);
    }

    50% {
        transform: translate(1.8em, -9.15em);
    }

    100% {
        transform: translate(1.8em, -9.5em);
    }
}

.fix-images .big-4 {
    transform: translate(2em, 6em);
    /* border: 1px solid dodgerblue; */
    width: auto;
    animation: big_4Position 1.5s ease-in-out .2s forwards, big_4Life 2.1s ease-in-out infinite 1.7s forwards;

}

@keyframes big_4Position {
    0% {
        transform: translate(2em, 6em);
    }

    100% {
        transform: translate(20em, 12em);
    }
}

@keyframes big_4Life {
    0% {
        transform: translate(20em, 12em);
    }

    50% {
        transform: translate(20em, 11.5em);
    }

    100% {
        transform: translate(20em, 12em);
    }
}


.fix-images .small-4 {
    transform: translate(6.5em, 1.5em);
    /* border: 1px solid dodgerblue; */
    animation: small_4Position 1.5s ease-in-out .2s forwards, small_4Life 2.1s ease-in-out infinite 1.7s forwards;

}

@keyframes small_4Position {
    0% {
        transform: translate(6.5em, 1.5em);
    }

    100% {
        transform: translate(25em, 1.5em);
    }
}

@keyframes small_4Life {
    0% {
        transform: translate(25em, 1.5em);
    }

    50% {
        transform: translate(25em, 1.2em);
    }

    100% {
        transform: translate(25em, 1.5em);
    }
}


/*---------------------- END OF FIX-SEC-1 SECTION -------------------- */


/*-------------------------- FIX-SEC-2 ------------------------- */
.fix-sec-2 {
    background-color: var(--darK, #262626);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 3em;
    padding: 12em 0 50em 0;

}

.fix-sec-2>h2 {
    max-width: 480px;
    margin: 0 auto;
    line-height: 1.25;
    text-align: center;
    font-size: calc(1.5em + .95vw);
    letter-spacing: -1px;
    font-weight: 400;
    animation: fix2TitleAnimate .85s ease-in-out .2s forwards;
}

@keyframes fix2TitleAnimate {
    0% {
        transform: translateY(7em);
        line-height: 2;
    }

    100% {
        transform: translateY(0);
        line-height: 1.25;
    }
}


.fix-sec-2 .cards {
    display: flex;
    justify-content: center;
    column-gap: 1.2em;
}

.fix-sec-2 .cards .card {
    background-color: var(--white, #ffffff);
    border-radius: 1em;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: .8em;
    padding: 2.5em;
    min-height: 470px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.fix-sec-2 .cards .card img {
    width: 150px;
    height: 150px;
}

.fix-sec-2 .cards .card h3 {
    font-size: calc(1.15em + .5vw);
    font-weight: 500;
    line-height: 1.25;
}

.fix-sec-2 .cards .card-1 {
    animation: card1Animate 1.1s ease-in-out .2s forwards;
}

@keyframes card1Animate {
    0% {
        transform: translateY(15em);
    }

    100% {
        transform: translateY(0);
    }
}

.fix-sec-2 .cards .card-2 {
    animation: card2Animate 1.15s ease-in-out .2s forwards;
}

@keyframes card2Animate {
    0% {
        transform: translateY(19em);
    }

    100% {
        transform: translateY(0);
    }
}

.fix-sec-2 .cards .card-3 {
    animation: card3Animate 1.25s ease-in-out .2s forwards;
}

@keyframes card3Animate {
    0% {
        transform: translateY(23em);
    }

    100% {
        transform: translateY(0);
    }
}

/*---------------------- END OF FIX-SEC-2 SECTION -------------------- */

/*--------------------------- FIX-SECTION-2 --------------------------- */

.fix-section-2 {
    grid-template-columns: 1.35fr 1fr;
    grid-template-rows: 15.87em 500px 4.5em;
    column-gap: 1.5em;
    transform: translateY(-20em);
    margin: 0 auto;
    /* animate to 30 */
    animation: fixSection2Animate 1s ease-in-out .2s forwards;
}

@keyframes fixSection2Animate {
    0% {
        transform: translateY(10em);
    }

    100% {
        transform: translateY(-30em);
    }
}

.fix-section-2 .phone-section {
    z-index: 1;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.fix-section-2 .phone {
    margin: 0 auto 0 8.5em;
    background-color: var(--white);
    animation: phone2Animate 1.25s ease-in-out .2s forwards;
}

@keyframes phone2Animate {
    0% {
        transform: translateY(4em);
        transform: scale(.85);
        visibility: hidden;
    }

    65% {
        visibility: visible;

    }

    100% {
        transform: translateY(-4);
        transform: scale(1);
    }
}

.fix-section-2 .phone-base-section {
    background-color: var(--white, #ffffff);
    grid-template-columns: 1.5fr 1fr;
    grid-column: 1 / -1;
    grid-row-start: 2;
    grid-row-end: 5;
}

.fix-section-2 .base-item-1 {
    grid-column-start: 2;
    align-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    width: 80%;
    margin: auto;
}

.fix-section-2 .base-item-1>h1 {
    font-size: calc(1.5em + 1.5vw);
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 1.15;
    animation: phoneBaseTitle2 1.25s ease-in-out .2s forwards;

}

@keyframes phoneBaseTitle2 {
    0% {
        transform: translateY(6em);
        opacity: .5;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fix-section-2 .base-item-1>h1>span {
    font-size: calc(1.43rem + 1vw);
    letter-spacing: -2px;
    font-weight: 500;
    font-family: inherit;

}

.fix-section-2 .base-item-1>p {
    width: 90%;
    margin-right: auto;
    line-height: 1.45;
    animation: phoneBaseText2 1.25s ease-in-out .2s forwards;
}

@keyframes phoneBaseText2 {
    0% {
        transform: translateY(8em);
        opacity: .5;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.fix-section-2 .base-item-1>div.button-group {
    animation: phoneBaseBtnGrp22 1.25s ease-in-out .2s forwards;
    justify-content: flex-start;
}

@keyframes phoneBaseBtnGrp2 {
    0% {
        transform: translateY(12em);
        opacity: .5;
        visibility: hidden;
    }

    50% {
        visibility: visible;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fix-section-2 .button {
    background-color: var(--orange, #e06b15);
}

.fix-section-2 .button * {
    color: var(--white, #ffffff);
}

/*------------------------END OF FIX-SECTION-2 ------------------ */

/* repair and join sections animate */
.repair-services-section,
.join-neato-section {
    animation: moveAnimate 1s ease-in-out .2s forwards;
}

@keyframes moveAnimate {
    0% {
        transform: translateY(30em);
    }

    100% {
        transform: translateY(-23em);
    }
}


/*-------------------------- REPAIR SECTION ---------------------- */
.repair-services-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.8em;
    /* padding: 3em; */
    width: 75%;
    margin: 0 auto 12em auto;
    /* border: 1px solid salmon; */
}

.repair-services {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 240px);
    row-gap: .65em;
    column-gap: .65em;
}

.service {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 1em;
    background-color: var(--white, #ffffff);
    border-radius: .95em;
    padding: 1.5em;
    min-height: 180px;
}

.service img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.service p {
    font-family: var(--poppins);
    font-size: calc(1em + .25vw);
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.25;
}

h1.repair-title {
    font-size: calc(1.75em + .45vw);
    font-weight: 400;
    line-height: 1.15;
    width: 80%;
    margin: 0 auto;
    animation: repairTitleAnimate 1.35s ease-in-out .2s forwards;
}

@keyframes repairTitleAnimate {
    0% {
        opacity: 0;
        line-height: 2;
        transform: translateY(6em);
    }

    100% {
        opacity: 1;
        line-height: 1.15;
        transform: translateY(0);
    }
}

.sv-1 {
    animation: sv1-Animate 1.35s ease-in-out .2s forwards;
}

@keyframes sv1-Animate {
    0% {
        opacity: 0;
        transform: scale(.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.sv-2 {
    animation: sv2-Animate 1.65s ease-in-out .2s forwards;
}

@keyframes sv2-Animate {
    0% {
        opacity: 0;
        transform: scale(.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.sv-3 {
    animation: sv3-Animate 1.95s ease-in-out .2s forwards;
}

@keyframes sv3-Animate {
    0% {
        opacity: 0;
        transform: scale(.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.sv-4 {
    animation: sv4-Animate 1.25s ease-in-out .2s forwards;
}

@keyframes sv4-Animate {
    0% {
        opacity: 0;
        transform: scale(.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.sv-5 {
    animation: sv5-Animate 1.55s ease-in-out .2s forwards;
}

@keyframes sv5-Animate {
    0% {
        opacity: 0;
        transform: scale(.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.sv-6 {
    animation: sv6-Animate 1.85s ease-in-out .2s forwards;
}

@keyframes sv6-Animate {
    0% {
        opacity: 0;
        transform: scale(.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/*------------------------ END OF REPAIR SECTION ------------------ */

/*------------------------ JOIN SECTION ------------------ */
.join-neato-section {
    display: flex;
    flex-direction: column;
    row-gap: 6em;
}

.join-intro-images {
    max-width: 500px;
    min-height: 500px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--secondaryGreen3);
    position: relative;
    overflow: hidden;
}

.join-intro-images li:first-child img {
    width: 500px;
    height: 500px;
    transform: translateY(11em) scale(1.25);
    object-fit: contain;
    animation: joinPhoneAnimate 1.15s ease-in-out .2s forwards;
}

@keyframes joinPhoneAnimate {
    0% {
        transform: translateY(30em);
    }

    100% {
        transform: translateY(11em);
    }
}

.join-intro-images li:not(.join-intro-images li:first-child) {
    position: absolute;
    left: 47%;
    top: 45%;
}

.join-neato {
    max-width: 500px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    row-gap: 1em;
}

.join-neato>h2 {
    animation: joinNeat-H2-Animate 1.35s ease-in-out .2s forwards;
    font-size: calc(1.75em + .85vw);
    font-weight: 400;
}

@keyframes joinNeato-H2-Animate {
    0% {
        transform: translateY(4em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.join-neato>p {
    animation: joinNeato-P-Animate 1.65s ease-in-out .2s forwards;
    font-family: var(--roboto);
    font-weight: 400;
}

@keyframes joinNeato-P-Animate {
    0% {
        transform: translateY(4em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.join-neato>.button-group {
    margin-top: 1em;
    animation: joinNeatoBtnGrp-Animate 1.95s ease-in-out .2s forwards;
}

@keyframes joinNeatoBtnGrp-Animate {
    0% {
        transform: translateY(4em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.join-neato>.button-group .button {
    background-color: var(--green, #00613b);
}

.join-neato>.button-group .button * {
    color: var(--white, #ffffff);
}

/*------------------------ END OF JOIN SECTION ------------------ */